<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>wk1_flix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0ADFA89D213F4ED5007602A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ADFA8B1213F4ED7007602A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ADFA8BC213F4ED7007602A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
